{% extends "admin/login.html" %}
{% load static %}
{% block extrastyle %}
{{ block.super }}
<style>
  #header {
    background-color: transparent !important;
    display: block;
  }
  .navbar  { display: none; }
</style>
{% endblock %}

{% block branding %}
<h1>
  <h4 style="color: #2196F3 !important" style="text-align:center!important;">Survey App Admin Login</h4>
  <br />
  <small>{% block head_title %}{% endblock %}</small>
</h1>
{% endblock %}

{% block content_title %}
<div class="d-flex justify-content-center" style="height: 100px; width: 100; margin-top: -60px;">
    <img  src="{%static 'img/nf.jpg' %}" alt="" class="img-fluid">
</div>
{% endblock %}